<f:form action="update" id="accounts">
	<h1>Site {site.name}</h1>

	<h2>Account</h2>
	<f:form.select
			name="accountId"
			value="{accountId}"
			options="{accounts}"
			optionValueField="id"
			optionLabelField="name"
			prependOptionLabel="Select account"
			prependOptionValue=""
			additionalAttributes="{data-reload: ''}" />

	<f:if condition="{webproperties}">
		<h2>Webproperty</h2>
		<f:form.select
			name="webpropertyId"
			value="{webpropertyId}"
			options="{webproperties}"
			optionValueField="id"
			optionLabelField="name"
			prependOptionLabel="Select property"
			prependOptionValue=""
			additionalAttributes="{data-reload: ''}" />
	</f:if>

	<f:if condition="{profiles}">
		<h2>Profile</h2>
		<f:form.select
			name="profileId"
			value="{profileId}"
			options="{profiles}"
			optionValueField="id"
			optionLabelField="name"
			prependOptionLabel="Select profile"
			prependOptionValue=""
			additionalAttributes="{data-reload: ''}" />

		<f:form.hidden name="site" value="{site}" />
		<p>
		<f:form.submit value="Save" class="neos-button neos-button-primary" />
		</p>
	</f:if>

</f:form>

<script src="../../../Public/Module/Accounts.js"></script>